# Python
.venv/
__pycache__/
*.py[cod]
*.sqlite3
backend/media/
backend/staticfiles/
*.egg-info/
.pytest_cache/

# Node
frontend/node_modules/
frontend/dist/

# Env / OS
.env
.env.local
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
