[Unit]
Description=gunicorn daemon para novia
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/novia/backend
Environment="DJANGO_DEBUG=0"
Environment="DJANGO_ALLOWED_HOSTS=46.225.56.35,localhost,127.0.0.1"
Environment="GATE_FIRST_NAME=Silvia"
Environment="GATE_PASSWORD=bailando"
Environment="GATE_ACTIVITY=bailar"
Environment="CORS_ALLOWED_ORIGINS=http://46.225.56.35"
ExecStart=/var/www/novia/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/novia.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
